/Software/Pepper_Linux/nbproject/private/
/Software/Pepper_Linux/build/
/Software/Pepper_Linux/dist/
/Software/Pepper_Windows/nbproject/private/
/Software/Pepper_Windows/dist/
/Software/Pepper_Windows/build/